* {
box-sizing: border-box;
}
 
*:focus {
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #444;
    -webkit-font-smoothing: antialiased;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
background-image: url("osman-rana-332236-unsplash.jpg");
  background-size: cover;

  z-index: 0;
}


.login {
margin: 20px auto;
width: 300px;
}

#container {
  position: fixed;
  width: 340px;
  height: 320px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -170px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  -webkit-animation-name: bounceIn;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: bounceIn;
  -moz-animation-fill-mode: both;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  animation-name: bounceIn;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.app-title {
text-align: center;
color: #777;
}
 
.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}
.elements{
margin-bottom: 10px;
text-align: center;
}
label {
  color: #555;
  display: inline-block;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 14px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}
 
input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}
 

button {
top: 50%;
    left: 40%;
  position: relative;
  margin-top: 20px;
  width: 80px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  background-color: #008B8B; 
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
 } 
button:hover {
  border: 1px solid #b6bfc0;
  box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
.btn:hover {
  background-color: #2980B9;
}
 

.lower {
  background: #ecf2f5;
  width: 100%;
  height: 69px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

}

a{    color: #555;
  display: inlinblock;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #444;}