@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

body { 

	color: #666;
	background: #fed136;
	font-family:  "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


.button {
	text-decoration: none;
	float: right;
	padding: 12px;
	margin: 25px;
	color: white;
	width: 100px;
	background-color: #282828;
	transition: width .35s;

}


.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 10 15px;
	text-align: center; 
}
h1{	
	font-size: 36px;
	text-align: center;
	color: #fff;
	margin-bottom: 80px;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
	color: #777777;
	font-size: 16px;
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: none;

	font-weight: 400;
	margin-bottom: 75px;

}
button{
	color: white;
	background-color: #fed136;
	border-color: #fed136;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 2px;
	font-size: 12px;
	padding: 5px 10px;
}
button:hover,button:active {
	color: white;
	background-color: #fec503;
	border-color: #f6bf01;
}


.column1 {
	flex: 1;
	margin: 2px;
	padding: 10px;
	background: #282828;
	text-align: center; 
	color: white;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }

	
}
.column2 {
	flex: 1;
	margin: 2px;
	padding: 10px;
	background: #282828;
	text-align: center; 
	color: white;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}
.column3 {
	flex: 1;
	margin: 2px;
	padding: 10px;
	background: #282828;
	text-align: center; 
	color: white;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
	
}


footer {
	padding: 0 15px;
}


@media screen and (max-width: 980px) {
	.columns .column {
		margin-bottom: 5px;
		flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}