<!DOCTYPE html>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
<html lang="en" >
<head>

  <meta charset="UTF-8">
  <title>Create</title>

  <link rel="stylesheet" href="../static/login.css">

</head>
<body>
 <div class="login-screen">
  <div class="app-title">
    <h1>Create an Account</h1>
  </div>
  <form action="/create" method="post">
    <fieldset>
      <div class="elements">
        <label for="name">Username:</label>
        <input  required="required" type="text"  value="name" name="name"  size="20"  />
      </div> 
      <div class="elements">
        <label for="password">Password:</label>
        <input required="required" type="text" value="password" id="password" name="password" size="10" />
      </div>   
      <div class="elements">
        <label for="phone">Phone number:</label>
        <input required="required" type="tel" value="XXX-XXX-XXXX" id="phone" name="phone" size="10" />
      </div>       </div>


      <div class="button">
       <button type="submit">Save</button> 
     </div>
     </fieldset>

     <br>

   </form> 

 </div>


<!--
 <script >
  var list=
  {
    "username": 0,
    "password": 0,
    "phone": 0
  };   
  var creat_account_json = 
    { "local": 0};
  function accounttojson() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var phone = document.getElementById("phone").value;

    list["username"] = username;
    list["password"] = password;
    list["phone"] = phone;
    creat_account_json["local"]=list;

      $.ajax(
      {
        url : '/create',
        method: 'POST',
        contentType: "application/json",
        data : JSON.stringify(creat_account_json),
        success: function(exportStops) {
          console.log(exportStops)
},
        });
    }




</script>-->

    </body>

    </html>