<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Create</title>
  
  
  <link rel="stylesheet" href="../static/login.css">



</head>
<body>
 <div class="login-screen">
  <div class="app-title">
    <h1>Create an Account</h1>
  </div>
  <form id="myform" type="post">
    <fieldset>
      <div class="elements">
        <label for="name">Username:</label>
        <input  required="required" type="text"  value="name" name="name"  size="20"  />
      </div> 
      <div class="elements">
        <label for="password">Password:</label>
        <input required="required" type="text" value="password" id="password" name="password" size="10" />
      </div>   
      <div class="elements">
        <label for="phone">Phone number:</label>
        <input required="required" type="tel" value="XXX-XXX-XXXX" id="phone" name="phone" size="10" />
      </div>       </div>

      <!-- <button onclick="createformtojson();">Create</button> -->

      <div class="submit">
       <input type="submit" id="btn" name="btn" class="btn" value="Submit" />
     </div>
     <span class="elements">Press "Ctrl + Shift + J" to see sent JSON in console: <span>
     </fieldset>

     <br>

   </form>
 </div>


 <script type="text/javascript">
  $(document).ready(function() {
    $("#btn").click(function(e){
     var jsonData = {};

     var formData = $("#myform").serializeArray();
  // console.log(formData);

  $.each(formData, function() {
    if (jsonData[this.name]) {
     if (!jsonData[this.name].push) {
       jsonData[this.name] = [jsonData[this.name]];
     }
     jsonData[this.name].push(this.value || '');
   } else {
     jsonData[this.name] = this.value || '';
   }


 });
  console.log(jsonData);
  $.ajax(
  {
    url : "/create",
    type: "POST",
    contentType: "application/json",
    data : JSON.stringify(jsonData),
         success: function(exportStops) {
          console.log(exportStops)

  });
  e.preventDefault(); 
});
  });
</script>

    </body>

    </html>