<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Local Login Page</title>
  
      <link rel="stylesheet" href="../static/login.css">



</head>
<body>
 <form action="/login_local" method="post">

      <fieldset>
      <div class="elements">
        <label for="name">Username:</label>
        <input  required="required" type="text"  value="name" name="name"  size="20"  />
      </div> 
      <div class="elements">
        <label for="password">Password:</label>
        <input required="required" type="text" value="password" id="password" name="password" size="10" />
      </div>   

      <div class="button">
       <button type="submit">Log In</button> 
     </div>
     </fieldset>

   </form> 
 
        <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
      <a href="/create">Create an Account</a>


</body>

</html>
