<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Local Login Page</title>
  
      <link rel="stylesheet" href="../static/login.css">



</head>
<body>
{% extends "layout.html" %}
{% block body %}
  <h1>Login</h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username value="{{
          request.form.username }}">
      <dt>Password:
      <dd><input type=password name=password>
    </dl>
    <p><input type=submit value=Login>
  </form>
{% endblock %}
 
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
                <a href="/create">Create an Account</a>


</body>

</html>
