<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Create</title>
  
  
  <link rel="stylesheet" href="../static/login.css">

</head>
<body>
 <div class="login-screen">
  <div class="app-title">
    <h1>Create an Account</h1>
  </div>
  <!--<form id="myform" type="post">
    <fieldset>
      <div class="elements">
        <label for="name">Username:</label>
        <input  required="required" type="text"  value="name" name="name"  size="20"  />
      </div> 
      <div class="elements">
        <label for="password">Password:</label>
        <input required="required" type="text" value="password" id="password" name="password" size="10" />
      </div>   
      <div class="elements">
        <label for="phone">Phone number:</label>
        <input required="required" type="tel" value="XXX-XXX-XXXX" id="phone" name="phone" size="10" />
      </div>       </div>


      <div class="submit">
      
       <button onclick="accounttojson();">Save</button> 
     </div>
     <span class="elements">Press "Ctrl + Shift + J" to see sent JSON in console: <span>
     </fieldset>

     <br>

   </form> -->
  {% extends "header.html" %}

{% block body %}

<body>
  <div class = "container">
    <h4>Register</h4>
    <br>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/register/">
      <dl>
        {{render_field(form.username)}}
        {{render_field(form.email)}}
        {{render_field(form.password)}}
        {{render_field(form.confirm)}}
        {{render_field(form.accept_tos)}}
      </dl>
      <p><input type=submit value=Register></p>
    </form>
    
    {% if error %}
      <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

  </div>
</body>

{% endblock %}
 

 </div>

            <form action="{{ url_for('tweet') }}"  method=post>
                <p>
                    <input type=text name=tweet size=40>
                    <input type=submit value="Tweet!">
                </p>
            </form>






 <script >
  var list=
  {
    "username": 0,
    "password": 0,
    "phone": 0
  };   
  var creat_account_json = 
    { "local": 0};
  function accounttojson() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    var phone = document.getElementById("phone").value;

    list["username"] = username;
    list["password"] = password;
    list["phone"] = phone;
    creat_account_json["local"]=list;

      $.ajax(
      {
        url : '/create',
        method: 'POST',
        contentType: "application/json",
        data : JSON.stringify(creat_account_json),
        success: function(exportStops) {
          console.log(exportStops)
},
        });
    }




</script>

    </body>

    </html>